<% layout('layouts/boilerplate') %>
<div class="h3 fw-bold px-4">Dashboard</div>
<div class="h3 fw-bold px-4">Location: <%= data.locationName %></div>
 
<div class="container-fluid my-4">
  <div class="row justify-content-center column-gap-4">
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-temperature-full"></i>: Temperature</div>
      <p id="temperatureData" class="fw-bold text-center" style="font-size:4vw"><%= favoriotData.celsius%></p>
    </div>
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-droplet"></i>: Humidity</div>
      <p id="humidityData" class="fw-bold text-center" style="font-size:4vw"><%= parseInt(favoriotData.humidity)%></p>
    </div>
  </div>
</div>

<div class="container-fluid my-4">
  <div class="row justify-content-center column-gap-4 row-gap-4">
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-temperature-full"></i>: Water Level</div>
      <p id="waterData" class="fw-bold text-center" style="font-size:4vw"><%= parseInt(favoriotData.distance)%></p>
    </div>
    <div class="col-4 col-lg-3 border border-black border-4 bg-light">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-droplet"></i>: Rain Level</div>
      <p id="rainData" class="fw-bold text-center" style="font-size:4vw"><%= favoriotData.rain%></p>
    </div>
  </div>
</div>

<script>
  function sendFavoriotCommand(value) {
      const deviceID = "swissgate_2_1_device@iiotsme"; // Replace with your Favoriot Device ID
      const apiKey = "A5zC35Fv88yt0ReZQ7v7oqgxv99OfQNh"; // Replace with your Favoriot API Key
      const url = `https://apiv2.favoriot.com/v2/streams`;
      const data = {
          "device_developer_id": deviceID,
          "data": {
          "command": value
          }
      };

      fetch(url, {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json',
          'apikey': apiKey
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
          }
          return response.json();
      })
      .then(data => console.log(data))
      .catch(error => console.error('There was a problem with the fetch operation:', error));
  };

  async function updateData() {
      try {
          let endpoint;
          if ("<%= data.id %>" === "duriantunggal") {
              endpoint = "/iot/getDurianTunggalData";
          } else if ("<%= data.id %>" === "ayerkeroh") {
              endpoint = "/iot/getAyerKerohData";
          } else {
              console.error("Invalid data id:", "<%= data.id %>");
              return;
          }

          const response = await fetch(endpoint);
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          const parsedResponse = await response.json();
          const data = parsedResponse[0];

          document.getElementById('temperatureData').innerText = parseInt(data.celsius).toFixed(2);
          document.getElementById('humidityData').innerText = parseInt(data.humidity).toFixed(2);
          document.getElementById('waterData').innerText = parseInt(data.distance).toFixed(2);
          document.getElementById('rainData').innerText = data.rain;
          document.getElementById('status').innerText = data.status;

          // Update button visibility
          const status = data.status;
          const buttonContainer = document.getElementById("buttonContainer");
          if (status === "Danger" || status === "Warning") {
              buttonContainer.style.display = "block";
          } else {
              buttonContainer.style.display = "none";
          }
      } catch (err) {
          console.error(err);
      }
  }

  // Initial call and interval for updating data
  document.addEventListener("DOMContentLoaded", () => {
      updateData();
      setInterval(updateData, 5000);
  });
</script>



        
