<% layout('layouts/boilerplate') %>
<div class="h3 fw-bold px-4">Dashboard</div>
<div class="h3 fw-bold px-4">Location: <%= data.locationName %></div>
 
<div class="container-fluid my-4">
  <div class="row justify-content-center column-gap-4">
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-temperature-full"></i>: Temperature</div>
      <p id="temperatureData" class="fw-bold text-center" style="font-size:4vw"><%= favoriotData.celsius%></p>
    </div>
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-droplet"></i>: Humidity</div>
      <p id="humidityData" class="fw-bold text-center" style="font-size:4vw"><%= parseInt(favoriotData.humidity)%></p>
    </div>
  </div>
</div>

<div class="container-fluid my-4">
  <div class="row justify-content-center column-gap-4 row-gap-4">
    <div class="col-4 col-lg-3 border bg-light border-black border-4">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-temperature-full"></i>: Water Level</div>
      <p id="waterData" class="fw-bold text-center" style="font-size:4vw"><%= parseInt(favoriotData.distance)%></p>
    </div>
    <div class="col-4 col-lg-3 border border-black border-4 bg-light">
      <div class="py-2" style="font-size:3vw"><i class="fa-solid fa-droplet"></i>: Rain Level</div>
      <p id="rainData" class="fw-bold text-center" style="font-size:4vw"><%= favoriotData.rain%></p>
    </div>
  </div>
</div>
<script>
  const updateData = async ()=>{
      try{
          let endpoint;
          // Determine the endpoint based on data.id
          if ("<%= data.id %>" === "duriantunggal") {
            endpoint = "/iot/getDurianTunggalData";
          } else if ("<%= data.id %>" === "ayerkeroh") {
            endpoint = "/iot/getAyerKerohData";
          } else {
            console.error("Invalid data id:", "<%= data.id %>");
            return;
          }

          // Fetch the latest data from the determined endpoint
          const response = await fetch(endpoint);
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          const parsedResponse = await response.json();
          const data = parsedResponse[0]; // Assuming the API returns an array with a single object

          document.getElementById('temperatureData').innerText = parseInt(data.celsius).toFixed(2);
          document.getElementById('humidityData').innerText = parseInt(data.humidity).toFixed(2);
          document.getElementById('waterData').innerText = parseInt(data.distance).toFixed(2);
          document.getElementById('rainData').innerText = data.rain;
          document.getElementById('status').innerText = data.status;
      }catch(err){
          console.error(err);
      }
  }

  // Call updateData initially and then every 5 seconds
  updateData();
  setInterval(updateData, 5000);
</script>



        
