<% layout('layouts/boilerplate') %>

<div class="h3 fw-bold px-4">Data Log</div>
<div class="h3 fw-bold px-4">Location: <%= data.locationName %></div>

<% favoriot_data.forEach((entry,index)=>{ %>
<div class="container py-2">
  <div class="row border border-2 border-black">
    <div class="col-xl-2 col-sm-4 border-end border-bottom border-black">Date: <%= new Date(entry.updatedAt).toLocaleDateString() %></div>
    <div class="col-xl-2 col-sm-3 border-end border-bottom  border-black">Time: <%= new Date(entry.updatedAt).toLocaleTimeString() %></div>
    <div class="w-100"></div>
    <div class="col">Temperature: <%= entry.celsius%></div>
    <div class="w-100"></div>
    <div class="col">Water level: <%= entry.distance %>cm</div>
    <div class="w-100"></div>
    <div class="col">Humidity: <%= entry.humidity %></div>
    <div class="w-100"></div>
    <div class="col">Rain Status: <%= entry.rain %></div>
  </div>
</div>
<% }) %>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-3"></div>

<%- include('../partials/footer') %>
