<% layout('layouts/boilerplate') %>
<div class="h3 fw-bold px-4">Data Log</div>
<div class="h3 fw-bold px-4">Location: <%= data.locationName %></div>
favoriot_data

<% favoriot_data.forEach((entry,index)=>{ %>
<div class="container py-2">
  <div class="row border border-2 border-black">
    <div class="col-xl-2 col-sm-4 border-end border-bottom border-black">Date: <%= new Date(entry.updatedAt).toLocaleDateString() %></div>
    <div class="col-xl-2 col-sm-3 border-end border-bottom  border-black">Time: <%= new Date(entry.updatedAt).toLocaleTimeString() %></div>
    <div class="w-100"></div>
    <div class="col">Temperature: <%= entry.data1 %></div>
    <div class="w-100"></div>
    <div class="col">Water level: <%= entry.data2 %>cm</div>
    <div class="w-100"></div>
    <div class="col">Humidity: <%= entry.data3 %></div>
    <div class="w-100"></div>
    <div class="col">Rain Level: <%= entry.data4 %>mm</div>
  </div>
</div>
<% }) %>


<!-- 
<div class="container py-2">
  <div class="row border border-2 border-black">
    <div class="col-xl-2 col-sm-4 border-end border-bottom border-black">Date: 17/4/2024</div>
    <div class="col-xl-2 col-sm-3 border-end border-bottom  border-black">Time: 2.10pm</div>
    <div class="w-100"></div>
    <div class="col">Temperature: 26°C</div>
    <div class="w-100"></div>
    <div class="col">Water level: 5cm</div>
    <div class="w-100"></div>
    <div class="col">Humidity: 60%</div>
    <div class="w-100"></div>
    <div class="col">Rain Level: 5mm</div>
  </div>
</div>
 -->
