<% layout('layouts/boilerplate') %>
<div class="fs-3 fw-bold px-4">Alert Notification</div>

<%if (alertStatuses.length>0) {%>
  <% alertStatuses.forEach((entry,index)=>{ %>
    <div class="container py-2">
      <div class="row border border-2 border-black mx-2">
        <div class="col fs-3 fw-bold"><%= entry.status %> in <%= entry.location %></div>
        <div class="w-100"></div>
        <div class="col">Temperature: <%= entry.celsius %></div>
        <div class="w-100"></div>
        <div class="col">Water level: <%= entry.distance %>cm</div>
        <div class="w-100"></div>
        <div class="col">Humidity: <%= entry.humidity %></div>
        <div class="w-100"></div>
        <div class="col">Rain Status: <%= entry.rain %></div>
        <div class="w-100"></div>
        <div class="col text-end py-2 fs-5">
          <%= entry.date %>, <%= entry.time %>
        </div>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <div class="alert alert-info">No alerts at the moment.</div>
<% } %>

<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-3"></div>

<script>
  function sendFavoriotCommand(value) {
      const deviceID = 'swissgate_2_1_device@iiotsme'; // Replace with your Favoriot Device ID
      const apiKey = 'A5zC35Fv88yt0ReZQ7v7oqgxv99OfQNh'; // Replace with your Favoriot API Key
      const url = `https://apiv2.favoriot.com/v2/streams`;
      const data = {
          "device_developer_id": deviceID,
          "data": {
          "command": value
          }
      };

      fetch(url, {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json',
          'apikey': apiKey
          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
          }
          return response.json();
      })
      .then(data => console.log(data))
      .catch(error => console.error('There was a problem with the fetch operation:', error));
  };

  async function updateData() {
      try {
          let endpoint;
          if ("<%= data.id %>" === "duriantunggal") {
              endpoint = "/iot/getDurianTunggalData";
          } else if ("<%= data.id %>" === "ayerkeroh") {
              endpoint = "/iot/getAyerKerohData";
          } else {
              console.error("Invalid data id:", "<%= data.id %>");
              return;
          }

          const response = await fetch(endpoint);
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          const parsedResponse = await response.json();
          const data = parsedResponse[0];
          
          document.getElementById('status').innerText = data.status;

          // Update button visibility
          const status = data.status;
          const buttonContainer = document.getElementById("buttonContainer");
          if (status === "Danger" || status === "Warning") {
              buttonContainer.style.display = "block";
              // Trigger modal if status is "Warning" or "Danger"
              var alertModal = new bootstrap.Modal(document.getElementById('alertModal'), { backdrop: true });
              alertModal.show();
          } else {
              buttonContainer.style.display = "none";
          }
      } catch (err) {
          console.error(err);
      }
  }

  // Initial call and interval for updating data
  document.addEventListener("DOMContentLoaded", () => {
      updateData();
      setInterval(updateData, 10000);
  });
</script>









